<p id="notice"><%= notice %></p>

<p>
  <strong>Name1:</strong>
  <%= @input.name1 %>
</p>

<p>
  <strong>Name2:</strong>
  <%= @input.name2 %>
</p>
<p>
  <strong>Status:</strong>
  <%= @input.name2 %>
</p>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
